{{ ansible_managed | comment }}
[Unit]
Description=juniper-notebook
 
[Service]
ExecStart={{ anaconda_prefix }}/bin/jupyter notebook --ip={{ anaconda_jupyter_notebook_ip }} --port={{ anaconda_jupyter_notebook_port }} --allow-root
 
[Install]
WantedBy=multi-user.target
